{% extends 'classroomLayout.twig' %}

{% block body %}
	<img src='{{classroom.image}}'>
	<h2>{{classroom.name}}</h2>
	{{classroom.description}}
	{% for student in students %}
		<div class='student'>
			<img src='{{student.image}}'>
			<h3>{{student.name}}</h3>
      		<p>{{student.quote}}</p>
			<a href='/student/{{student.id}}'>Ավելին</a>
		</div>
	{% endfor %}
{% endblock %}
